.header {
    max-width: 1512px;
    height: 100px;
}

.header__inner {
    border: 1px solid rgba(224, 223, 222, 1);
}

.header__logo {
    width: 1509.01px;
    height: 100px;
    left: 2.99px;
    gap: 0px;
    opacity: 0px;
    font-family: Inika;
    font-size: 40px;
    font-weight: 400;
    line-height: 52.12px;
    text-align: center;
    text-decoration: none;
    color: rgba(139, 121, 105, 1);;
}
