.confirm__heading {
    margin-bottom: 50px;
    font-family: Inika;
    font-size: 35px;
    text-align: center;
    color: rgba(139, 121, 105, 1);
}

.form {
    margin: 0 auto;
    width: 64%;
}

.confirm-table {
    border: 1px solid #ddd;
}

.confirm-table__inner {
    width: 100%;
}

.confirm-table__header {
    width: 305px;
    height: 69.92px;
    background: rgba(186, 168, 153, 1);
    border-bottom: 1px solid rgba(224, 223, 222, 1);
    color: rgba(255, 255, 255, 1);
}

.confirm-table__text {
    padding: 15px;
    border-bottom: 1px solid rgba(224, 223, 222, 1)
}

.confirm-table__text input {
    width: 100%;
    outline: none;
    border: none;
}

.confirm-table__row:last-child .confirm-table__header,
.confirm-table__row:last-child .confirm-table__text {
    border-bottom-width: 0;
}

.form__button {
    margin-top: 30px;
    text-align: center;
}

.form__button-submit {
    padding: 10px 40px;
    width: 120px;
    height: 42px;
    border: none;
    background: rgba(130, 117, 106, 1);
    color: #fff;
}


