.contact-form__heading {
    margin-top: 50px;
    text-align: center;
    font-size: 35px;
    color: rgba(139, 121, 105, 1);
}

.form {
    margin: 51px 270px;
    max-width: 972px;
    text-align: center;
}

.form__group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form__label--required,
.form__error {
    color: red;
}

.form__input--name,
.inquiry_type {
    background: rgba(244, 244, 244, 1);
    color: rgba(190, 177, 166, 1);
}

.form__input--text-inline {
    display: flex;
}

.form__group-title {
    font-size: 20px;
}